body {
    font-family: 'Open Sans', 'Myriad Pro', 'Helvetica', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#ust-hizli-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 60;
    text-align: center;
}

.breadcrumb {
    display: inline-block;
    background-color: inherit;
    min-height: 40px;
    line-height: 20px;
    border-radius: 0;
    margin: 0;
    padding: 8px 0 0 0;
}

#ust-hizli-menu #ust-hizli-menu-inner {
    background-color: #8c1929;
}

.breadcrumb > li {
    font-size: 11px;
    font-weight: 300;
    text-shadow: none;
}

.breadcrumb > li {
    display: inline-block;
}

#ust-hizli-menu li a {
    color: white;
}


.haber-thumb.haber-thumb-border-bottom {
    border-bottom: 6px solid #3E61A4;
}

.haber-thumb {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.haber-thumb img {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

h3.haber-baslik {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    border-left: 6px solid #3E61A4;
}

    h3.haber-baslik a {
        color: black;
        font-weight: 700;
    }

h3 {
    font-size: 22px;
    line-height: 28px;
}

.haber-ozet {
    padding: 4px 0 0 14px;
    margin: 0;
}

h2.widget-baslik.haberler-baslik {
    margin: 20px 0 10px 0;
    color: #00a8e4;
}

h2.widget-baslik {
    padding: 0;
    text-transform: uppercase;
}

.col-naked {
    background-color: transparent;
}

.col-padded {
    padding: 30px;
    overflow: hidden;
}

.anasayfa-widgets {
    background-color: #3E61A4;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.clear-margins {
    margin: 0;
}

/*.etkinlik {
    display: table;
    width: 100%;
    margin: 0 0 12px 0;
}*/

.etkinlik-tarih {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    width: 40px;
    padding: 0;
}

.pull-left {
    float: left !important;
}

h3.etkinlik-baslik {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 14px;
    width: 100%;
}

h3.duyuru-baslik a {
    color: #fff;
}

/*.etkinlik-ay {
    text-align: center;
    text-transform: uppercase;
}

.etkinlik-gun {
    font-size: 30px;
    width: 100%;
    text-align: center;
}*/

h2.widget-baslik.duyurular-baslik {
    margin: 0 0 10px 0;
    color: #fff;
}

.title-median {
    color: #636363;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.recent-news-meta {
    color: #fff0f5;
}

.widget-container .recent-news-date {
    font-size: 13px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.recent-news-date {
    font-size: 13px;
    font-weight: 400;
}

.up-event-wrap:not(:last-child) {
    margin-bottom: 21px;
}

.wrapper {
    max-width: 1840px;
    margin: 0 auto;
    width: 100%;
}

.tum-haberler {
    text-align: right;
    margin-bottom: 10px;
}



.tum-duyurular, .tum-etkinlikler {
    text-align: right;
    font-weight: bold;
}

    .tum-duyurular a, .tum-etkinlikler a {
        color: white;
    }


.copy-text {
    color: #fff;
    background-color: #111;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 16px 16px 10px 16px;
    text-transform: capitalize;
}

.footer-text {
    display: block;
    margin-bottom: 5px;
}

#subfooter-inner {
    background-color: #14626e;
    padding: 30px;
}

.footer-baslik {
    padding: 0;
    margin: 0;
    color: #fff;
    margin-bottom: 4px;
    font-size: 15px;
}

.list-iletisim {
    color: #fff;
    font-size: 15px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.yaprak-logo {
    display: block;
    position: absolute;
    background-image: url(/Content/2019/img/yaprak-logo.png);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    z-index: 10;
    right: 30px;
    bottom: 16px;
    background-size: 100% auto;
    width: 16%;
    height: 540px;
}

.hizli-erisim-footer {
    margin-top:20px;
    background-color: #9b9c9e;
    border-bottom: 10px solid #d9dbda;
    min-height: 392px;
}
h3.hizli-erisim-baslik {
    margin: 14px 0 10px 0;
    font-weight:bold;
}

.hizli-erisim-footer p {
    margin: 0 0 4px 0;
}

    .hizli-erisim-footer p a {
        color:#fff;
    }

.social-media  {
    padding: 30px;
    white-space:nowrap;
}

.social-media ul {
    list-style: none;
}

    .social-media ul li {
        margin: 5px 20px;
        float: left;
    }

.social-media .wp-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px !important;
    vertical-align: middle;
    color: #fff;
    margin-right: 5px;
}

    .social-media .fa-facebook-f {
        background: #3B5998;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
/*
    .social-media .fa-linkedin {
        background: #0077B5;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }*/

    .social-media .fa-twitter {
        background: #1DA1F2;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }

    .social-media .fa-instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }

/*.fa-google-plus {
    background: #D04338;
}

.fa-youtube {
    background: #FF0000;
}

.fa-pinterest {
    background: #BD081C;
}
*/

    .social-media a i:hover {
        background: #8c1929;
    }