@{
    ViewBag.Title = "Home Page";
}
<div class="container row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/img/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
<div id="carouselExampleControls" class="carousel slide margin-for-slider " data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/onlinebap.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 " src="~/img/uep.png" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="col-md-12">
    <div class="row">
        <h2 class="widget-baslik haberler-baslik">Haberler</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="haber-widget haber-widget-1">
            <figure class="haber-thumb haber-thumb-border-bottom">
                <a href="/Web/HaberDetay/1099"><img src="~/img/rek1.jpeg" class="attachment-thumbnail wp-post-image zoom" alt="Girişimci ve Yenilikçi Üniversite Endeksinde Yükselmeye Devam Ediyoruz"></a>
            </figure>
            <h3 class="haber-baslik" style="overflow-wrap: break-word;"><a href="/Web/HaberDetay/1099" title="Girişimci ve Yenilikçi Üniversite Endeksinde Yükselmeye Devam Ediyoruz">Girişimci ve Yenilikçi Üniversite Endeksinde Yükselmeye Devam Ediyoruz</a></h3>
            <p class="haber-ozet ddd-truncated" style="overflow-wrap: break-word;">
                Türkiye Bilimsel ve Teknolojik Araştırma Kurumu (TÜBİTAK) "2020 Yılı Girişimci ve Yenilikçi Üniversite Endeksi" sonuçlarını… <a href="/Web/HaberDetay/1099" class="moretag ddd-keep" title="Devamı">Devamı</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="haber-widget haber-widget-2">
            <figure class="haber-thumb haber-thumb-border-bottom">
                <a href="/Web/HaberDetay/1095"><img src="~/img/rek2.jpeg" class="attachment-thumbnail wp-post-image zoom" alt="Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak’tan 1'inci Hava Bakım Fabrika Müdürlüğüne Ziyaret"></a>
            </figure>
            <h3 class="haber-baslik ddd-truncated" style="overflow-wrap: break-word;"><a href="/Web/HaberDetay/1095" title="Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak’tan 1'inci Hava Bakım Fabrika Müdürlüğüne Ziyaret">Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak’tan 1'inci Hava Bakım Fabrika… </a></h3>
            <p class="haber-ozet ddd-truncated" style="overflow-wrap: break-word;">
                Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak, Milli Savunma Bakanlığı 1'nci Hava Bakım Fabrika Müdürü&nbsp;Hava… <a href="/Web/HaberDetay/1095" class="moretag ddd-keep" title="Devamı">Devamı</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="haber-widget haber-widget-3">
            <figure class="haber-thumb haber-thumb-border-bottom">
                <a href="/Web/HaberDetay/1092"><img src="~/img/rek3.jpeg" class="attachment-thumbnail wp-post-image zoom" alt="Translasyonel Tıp Oluşum Toplantısı Düzenlendi"></a>
            </figure>
            <h3 class="haber-baslik" style="overflow-wrap: break-word;"><a href="/Web/HaberDetay/1092" title="Translasyonel Tıp Oluşum Toplantısı Düzenlendi">Translasyonel Tıp Oluşum Toplantısı Düzenlendi</a></h3>
            <p class="haber-ozet ddd-truncated" style="overflow-wrap: break-word;">
                Eskişehir Osmangazi Üniversitesi (ESOGÜ) Rektörlüğü tarafından düzenlenen “Translasyonel (Dönüşümsel) Tıp Oluşum… <a href="/Web/HaberDetay/1092" class="moretag ddd-keep" title="Devamı">Devamı</a>
            </p>
        </div>
    </div>
</div>
<div class="tum-haberler"><a href="/Web/HaberDetay">Tüm Haberler &gt;</a></div>
<div class="anasayfa-widgets">
    <div class="row no-gutter">
        <!-- DUYURULAR -->
        <div class="col-lg-6 col-md-6">
            <div class="col-padded col-naked">
                <h2 class="widget-baslik duyurular-baslik"><i class="fa fa-bullhorn" aria-hidden="true"></i> Duyurular</h2>
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_up_events">
                        <ul class="list-unstyled list-duyurular">
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8894" title="Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak'ın 10 Kasım Atatürk'ü Anma Günü Mesajı" style="overflow-wrap: break-word;" class="ddd-truncated">Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak'ın 10 Kasım… </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">09 Kasım 2020 - Pazartesi</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8892" title="UZEMÖYS Üzerinden Yapılacak Sınavlara İlişkin Duyuru" style="overflow-wrap: break-word;">UZEMÖYS Üzerinden Yapılacak Sınavlara İlişkin Duyuru</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">06 Kasım 2020 - Cuma</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8890" title="Üniversitemiz Öğretim Üyesinin Başarısı " style="overflow-wrap: break-word;">Üniversitemiz Öğretim Üyesinin Başarısı </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">06 Kasım 2020 - Cuma</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8885" title="4/B Sözleşmeli Personel 27. Yedek Aday Çağrı Duyurusu" style="overflow-wrap: break-word;">4/B Sözleşmeli Personel 27. Yedek Aday Çağrı Duyurusu</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8884" title="İnternet Kesintisi Hakkında" style="overflow-wrap: break-word;">İnternet Kesintisi Hakkında</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8883" title="Üniversitemiz Makine Mühendisliği Bölümü Öğretim Üyesinin Projesine TÜBİTAK’dan Destek " style="overflow-wrap: break-word;" class="ddd-truncated">Üniversitemiz Makine Mühendisliği Bölümü Öğretim… </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="col-md-12">
                    <div class="tum-duyurular"><a href="/Web/DuyuruDetay">Tüm Duyurular &gt;</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="col-padded col-naked">
                <h2 class="widget-baslik duyurular-baslik"><i class="fa fa-calendar" aria-hidden="true"></i> ETKİNLİKLER</h2>
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_up_events">
                        <ul class="list-unstyled list-duyurular">
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8894" title="Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak'ın 10 Kasım Atatürk'ü Anma Günü Mesajı" style="overflow-wrap: break-word;" class="ddd-truncated">Üniversitemiz Rektörü Prof. Dr. Kemal Şenocak'ın 10 Kasım… </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">09 Kasım 2020 - Pazartesi</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8892" title="UZEMÖYS Üzerinden Yapılacak Sınavlara İlişkin Duyuru" style="overflow-wrap: break-word;">UZEMÖYS Üzerinden Yapılacak Sınavlara İlişkin Duyuru</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">06 Kasım 2020 - Cuma</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8890" title="Üniversitemiz Öğretim Üyesinin Başarısı " style="overflow-wrap: break-word;">Üniversitemiz Öğretim Üyesinin Başarısı </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">06 Kasım 2020 - Cuma</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8885" title="4/B Sözleşmeli Personel 27. Yedek Aday Çağrı Duyurusu" style="overflow-wrap: break-word;">4/B Sözleşmeli Personel 27. Yedek Aday Çağrı Duyurusu</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8884" title="İnternet Kesintisi Hakkında" style="overflow-wrap: break-word;">İnternet Kesintisi Hakkında</a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                            <li class="up-event-wrap">
                                <h3 class="title-median duyuru-baslik">
                                    <a href="/Web/DuyuruDetay/8883" title="Üniversitemiz Makine Mühendisliği Bölümü Öğretim Üyesinin Projesine TÜBİTAK’dan Destek " style="overflow-wrap: break-word;" class="ddd-truncated">Üniversitemiz Makine Mühendisliği Bölümü Öğretim… </a>
                                </h3>
                                <div class="recent-news-meta">
                                    <div class="recent-news-date">04 Kasım 2020 - Çarşamba</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="col-md-12">
                    <div class="tum-etkinlikler"><a href="/Web/DuyuruDetay"> Tüm Etkinlikler &gt;</a></div>
                </div>
            </div>
        </div>
        <!-- DUYURULAR BİTİŞ-->
        <!-- ETKİNLİKLER -->
        <!--<div class="col-lg-6 col-md-6">


            <div class="col-padded col-naked">
                <h2 class="widget-baslik etkinlikler-baslik"><i class="fa fa-calendar" aria-hidden="true"></i> Etkinlikler</h2>

                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_up_events">
                        <ul class="list-unstyled list-etkinlikler">
                            <li class="etkinlik">
                                <div class="etkinlik-tarih pull-left">
                                    <div class="etkinlik-gun">10</div>
                                    <div class="etkinlik-ay">Kas</div>
                                </div>
                                <h3 class="etkinlik-baslik">
                                    <a href="/Web/EtkinlikDetay/3024" title="10 Kasım Atatürk'ü Anma Programı" style="overflow-wrap: break-word;">10 Kasım Atatürk'ü Anma Programı</a>
                                </h3>
                            </li>
                            <li class="etkinlik">
                                <div class="etkinlik-tarih pull-left">
                                    <div class="etkinlik-gun">14</div>
                                    <div class="etkinlik-ay">Kas</div>
                                </div>
                                <h3 class="etkinlik-baslik">
                                    <a href="/Web/EtkinlikDetay/3020" title="Online - Prostat Kanseri Farkındalık Günü Üzerine Webinar" style="overflow-wrap: break-word;" class="ddd-truncated">Online - Prostat Kanseri Farkındalık Günü Üzerine… </a>
                                </h3>
                            </li>
                            <li class="etkinlik">
                                <div class="etkinlik-tarih pull-left">
                                    <div class="etkinlik-gun">18</div>
                                    <div class="etkinlik-ay">Kas</div>
                                </div>
                                <h3 class="etkinlik-baslik">
                                    <a href="/Web/EtkinlikDetay/3025" title="Online - ESOGÜ Akciğer ve Plevra Kanserleri Uygulama ve Araştırma Merkezi Konferansları 2020-2021" style="overflow-wrap: break-word;" class="ddd-truncated">Online - ESOGÜ Akciğer ve Plevra Kanserleri… </a>
                                </h3>
                            </li>
                            <li class="etkinlik">
                                <div class="etkinlik-tarih pull-left">
                                    <div class="etkinlik-gun">21</div>
                                    <div class="etkinlik-ay">Kas</div>
                                </div>
                                <h3 class="etkinlik-baslik">
                                    <a href="/Web/EtkinlikDetay/3023" title="Online - Değişim Sınavı" style="overflow-wrap: break-word;">Online - Değişim Sınavı</a>
                                </h3>
                            </li>
                            <li class="etkinlik">
                                <div class="etkinlik-tarih pull-left">
                                    <div class="etkinlik-gun">18</div>
                                    <div class="etkinlik-ay">Haz</div>
                                </div>
                                <h3 class="etkinlik-baslik">
                                    <a href="/Web/EtkinlikDetay/3021" title="8. ULPAS (8.Uluslararası Lif ve Polimer Araştırmaları Sempozyumu)" style="overflow-wrap: break-word;" class="ddd-truncated">8. ULPAS (8.Uluslararası Lif ve Polimer Araştırmaları… </a>
                                </h3>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="col-md-12">
                    <div class="tum-etkinlikler"><a href="/Web/EtkinlikDetay">Tüm Etkinlikler &gt;</a></div>
                </div>
            </div>
        </div>-->
        <!-- ETKİNLİKLER BİTİŞ -->
        <!-- SOSYAL MEDYA -->
        <!--<div class="col-lg-4 col-md-4">

        <div class="col-padded col-naked">
            <h2 class="widget-baslik sosyal-medya-baslik"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Sosyal Medya</h2>

            <ul class="sosyal-medya-tabs">
                <li role="presentation" class="tab-facebook"><a data-toggle="tab" href="#facebook">facebook</a></li>
                <li role="presentation" class="tab-twitter"><a data-toggle="tab" href="#twitter">twitter</a></li>
                <li role="presentation" class="active tab-instagram"><a data-toggle="tab" href="#instagram">instagram</a></li>
            </ul>

            <div class="tab-content sosyal-medya-tab-icerik">
                <div id="facebook" class="tab-pane fade">
                    <div class="widget-container widget_sofa_twitter social-feed twitter-feed" data-url="/Web/_FacebookFeed">-->
        <!-- widget -->
        <!--<ul class="k-twitter-twitts list-unstyled">

                    <li class="twitter-twitt">
                        <p>
                            <a href="https://www.facebook.com/EsoguWEB/">123</a>
                            El temizliğine dikkat edin!...
                            <a href="https://facebook.com/hashtag/maske" target="_blank">#maske</a> <a href="https://facebook.com/hashtag/sosyalmesafe" target="_blank">#sosyalmesafe</a> <a href="https://facebook.com/hashtag/hijyen" target="_blank">#hijyen</a> <a href="https://facebook.com/hashtag/esoguburada" target="_blank">#esoguburada</a> <a href="https://facebook.com/hashtag/esoguseninle" target="_blank">#esoguseninle</a>
                        </p>
                    </li>
                    <li class="twitter-twitt">
                        <p>
                            <a href="https://www.facebook.com/EsoguWEB/">123</a>
                            Kirli veya ıslak maskeyi kullanmayın!...
                            <a href="https://facebook.com/hashtag/maske" target="_blank">#maske</a> <a href="https://facebook.com/hashtag/sosyalmesafe" target="_blank">#sosyalmesafe</a> <a href="https://facebook.com/hashtag/hijyen" target="_blank">#hijyen</a> <a href="https://facebook.com/hashtag/esoguburada" target="_blank">#esoguburada</a> <a href="https://facebook.com/hashtag/esoguseninle" target="_blank">#esoguseninle</a>
                        </p>
                    </li>
                    <li class="twitter-twitt">
                        <p>
                            <a href="https://www.facebook.com/EsoguWEB/">123</a>
                            Bibliyofil'in yeni bölümünde Üniversitemiz Mühendislik Mimarlık Fakültesi Makine Mühendisliği öğretim üyesi Doç. Dr. Melih Cemal Kuşhan ile Kerem Gök'ün "Uçak Kazaları kitabını konuştuk, Türk sivil havacılık tarihine kısa bir yolculuk yaptık...
                            <a href="https://facebook.com/hashtag/Bibliyofil" target="_blank">#Bibliyofil</a> <a href="https://facebook.com/hashtag/UçakKazaları" target="_blank">#UçakKazaları</a>
                        </p>
                    </li>

                </ul>

                <div class="k-twitter-twitts-footer">
                    <a href="https://www.facebook.com/EsoguWEB/" class="k-twitter-twitts-follow" title="Takip Et"><i class="fa fa-facebook"></i>&nbsp;Takip Et</a>
                </div>
            </div>
        </div>
        <div id="twitter" class="tab-pane fade">
            <div class="widget-container widget_sofa_twitter social-feed twitter-feed" data-url="/Web/_TwitterFeed">-->
        <!-- widget -->
        <!--<ul class="k-twitter-twitts list-unstyled">

                    <li class="twitter-twitt">
                        <p>
                            <a href="https://twitter.com/esoguWeb">123</a>
                            El temizliğine dikkat edin!...
                            <a href="https://twitter.com/hashtag/maske" target="_blank">#maske</a> <a href="https://twitter.com/hashtag/sosyalmesafe" target="_blank">#sosyalmesafe</a> <a href="https://twitter.com/hashtag/hijyen" target="_blank">#hijyen</a> <a href="https://twitter.com/hashtag/esoguburada" target="_blank">#esoguburada</a> <a href="https://twitter.com/hashtag/esoguseninle" target="_blank">#esoguseninle</a> <a href="https://t.co/TUSZERS5vj" target="_blank">https://t.co/TUSZERS5vj</a>
                        </p>
                    </li>
                    <li class="twitter-twitt">
                        <p>
                            <a href="https://twitter.com/esoguWeb">123</a>
                            Kirli veya ıslak maskeyi kullanmayın!...
                            <a href="https://twitter.com/hashtag/maske" target="_blank">#maske</a> <a href="https://twitter.com/hashtag/sosyalmesafe" target="_blank">#sosyalmesafe</a> <a href="https://twitter.com/hashtag/hijyen" target="_blank">#hijyen</a> <a href="https://twitter.com/hashtag/esoguburada" target="_blank">#esoguburada</a> <a href="https://twitter.com/hashtag/esoguseninle" target="_blank">#esoguseninle</a> <a href="https://t.co/eggLCHcETx" target="_blank">https://t.co/eggLCHcETx</a>
                        </p>
                    </li>
                    <li class="twitter-twitt">
                        <p>
                            <a href="https://twitter.com/esoguWeb">123</a>
                            RT <a href="http://www.twitter.com/drfahrettinkoca" target="_blank">123ca</a>: COVID-19 yayılıyor. Ertelenmesi mümkün seyahatleri erteleyin. Gün içinde hareketliliğinizi sınırlandırın. Unutmayın: V…
                        </p>
                    </li>

                </ul>

                <div class="k-twitter-twitts-footer">
                    <a href="https://twitter.com/esoguWeb" class="k-twitter-twitts-follow" title="Takip Et"><i class="fa fa-twitter"></i>&nbsp;Takip Et</a>
                </div>
            </div>
        </div>
        <div id="instagram" class="tab-pane fade in active">
            <div class="widget-container widget_sofa_twitter social-feed instagram-feed" data-url="/Web/_InstagramFeed">-->
        <!-- widget -->
        <!--<div class="instagram-medias">
                                <div class="instagram-media">
                                    <img src="https://scontent.cdninstagram.com/v/t51.29350-15/123839464_688775785384094_3158182242756931878_n.jpg?_nc_cat=109&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=b2IdvuFbb4cAX-p9mIL&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=329d33b82cd208a0e8461dad49352ad7&amp;oe=5FCF3110" class="instagram-image" alt="instagram media">
                                    <div class="instagram-caption">
                                        <a href="https://www.instagram.com/esoguweb/">123</a>
                                        El temizliğine dikkat edin!...
                                        <a href="https://instagram.com/explore/tags/maske" target="_blank">#maske</a> <a href="https://instagram.com/explore/tags/sosyalmesafe" target="_blank">#sosyalmesafe</a> <a href="https://instagram.com/explore/tags/hijyen" target="_blank">#hijyen</a> <a href="https://instagram.com/explore/tags/esoguburada" target="_blank">#esoguburada</a> <a href="https://instagram.com/explore/tags/esoguseninle" target="_blank">#esoguseninle</a>
                                    </div>
                                </div>
                                <div class="k-twitter-twitts-footer instagram-takip">
                                    <a href="https://www.instagram.com/esoguweb/" class="k-twitter-twitts-follow" title="Takip Et"><i class="fa fa-instagram"></i>&nbsp;Takip Et</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- SOSYAL MEDYA BİTİŞ -->
    </div>
</div>

<div class="wrapper">
    <div class="col-padded hizli-erisim-footer">
        <div class="row">
            <div class="col-md-2">
                <h3 class="hizli-erisim-baslik">Kurumsal</h3>
                <p>
                    <a href="/Icerik/Index/166/universite-hakkinda"> Üniversite Hakkında</a>
                </p>
                <p>
                    <a href="/Icerik/Index/2/yonetim"> Yönetim</a>
                </p>
                <p>
                    <a href="/Icerik/Index/30/idari-birimler"> İdari Birimler</a>
                </p>
                <p>
                    <a href="/Icerik/Index/31/daire-baskanliklari"> Daire Başkanlıkları</a>
                </p>
                <p>
                    <a href="/Icerik/Index/32/komisyon-ve-kurullar"> Komisyon ve Kurullar</a>
                </p>
            </div>
            <div class="col-md-2">
                <h3 class="hizli-erisim-baslik">Akademik</h3>
                <p>
                    <a href="/Icerik/Index/24/fakulteler"> Fakülteler</a>
                </p>
                <p>
                    <a href="/Icerik/Index/29/yuksekokullar"> Yüksekokullar</a>
                </p>
                <p>
                    <a href="/Icerik/Index/333/meslek-yuksekokullari"> Meslek Yüksekokulları</a>
                </p>
                <p>
                    <a href="/Icerik/Index/25/enstituler"> Enstitüler</a>
                </p>
                <p>
                    <a href="/Icerik/Index/27/rektorluge-bagli-bolumler"> Rektörlüğe Bağlı Bölümler</a>
                </p>
            </div>
            <div class="col-md-2">
                <h3 class="hizli-erisim-baslik">Öğrenci</h3>
                <p>
                    <a href="http://oidb.ogu.edu.tr/" target="&quot;_blank&quot;">Öğrenci İşleri Daire Başkanlığı</a>
                </p>
                <p>
                    <a href="https://ogubs1.ogu.edu.tr" target="&quot;_blank&quot;">Öğrenci Bilgi Sistemi</a>
                </p>
                <p>
                    <a href="https://oidb.ogu.edu.tr/Sayfa/Index/166/2020-2021-ogretim-yili" target="&quot;_blank&quot;">Akademik Takvim</a>
                </p>
                <p>
                    <a href="https://ects.ogu.edu.tr/" target="&quot;_blank&quot;">ECTS Bilgi Kılavuzu</a>
                </p>
                <p>
                    <a href="http://uzem.ogu.edu.tr/" target="&quot;_blank&quot;">Uzaktan Eğitim</a>
                </p>
                <p>
                    <a href="https://ogrenci.ogu.edu.tr/" target="&quot;_blank&quot;">Öğrenci E-Posta</a>
                </p>
                <p>
                    <a href="https://uzemoys.ogu.edu.tr" target="&quot;_blank&quot;">UZEM Öğrenme Yönetim Sistemi</a>
                </p>
                <p>
                    <a href="https://iro.ogu.edu.tr" target="&quot;_blank&quot;">Uluslararası İlişkiler Birimi </a>
                </p>
                <p>
                    <a href="https://oidb.ogu.edu.tr/Sayfa/Index/152/uluslararasi-ogrenci" target="&quot;_blank&quot;">Uluslararası Öğrenci</a>
                </p>
                <p>
                    <a href="/Icerik/Index/319/ogrenci-durustluk-belgesi"> Öğrenci Dürüstlük Belgesi</a>
                </p>
            </div>
            <div class="col-md-2">
                <h3 class="hizli-erisim-baslik">Araştırma</h3>
                <p>
                    <a href="/Icerik/Index/261/akademik-yayinlar"> Akademik Yayınlar</a>
                </p>
                <p>
                    <a href="/Icerik/Index/262/hakemli-dergiler"> Hakemli Dergiler</a>
                </p>
                <p>
                    <a href="http://web.ogu.edu.tr/bap" target="&quot;_blank&quot;">Bilimsel Araştırma Projeleri</a>
                </p>
                <p>
                    <a href="https://ettom.ogu.edu.tr/" target="&quot;_blank&quot;">Teknoloji Transfer Ofisi</a>
                </p>
                <p>
                    <a href="http://arum.ogu.edu.tr" target="&quot;_blank&quot;">Merkezi Araştırma Laboratuvarı (ARUM)</a>
                </p>
                <p>
                    <a href="/Icerik/Index/294/oduller"> Ödüller</a>
                </p>
            </div>
            <div class="col-md-2">
                <h3 class="hizli-erisim-baslik">Medya</h3>
                <p>
                    <a href="https://www.youtube.com/channel/UC7Qx0ZaO2BTOsKOfB1BcXfA" target="&quot;_blank&quot;">TV</a>
                </p>
                <p>
                    <a href="http://medya.ogu.edu.tr/Sayfa/Index/8/radyo-esogu" target="&quot;_blank&quot;">Radyo</a>
                </p>
                <p>
                    <a href="https://esoguhaber.ogu.edu.tr/" target="&quot;_blank&quot;">Haber</a>
                </p>
                <p>
                    <a href="http://medya.ogu.edu.tr/" target="&quot;_blank&quot;">Sosyal Medya</a>
                </p>
                <p>
                    <a href="https://basinhalk.ogu.edu.tr/" target="&quot;_blank&quot;">Basın ve Halkla İlişkiler</a>
                </p>
                <p>
                    <a href="/Icerik/Index/312"> </a>
                </p>
            </div>
        </div>
    </div>
</div>





